/* font import from goggle nato sans */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

.noto-font {
  font-family: "Noto Serif", serif;
}
.container {
  margin: 0px auto;
  padding: 0px 20px;
}
span {
  color: #e95a08;
}
.btn {
  padding: 14px 0px;
  background: #e95a08;
  color: white;
  font-weight: 600;
  border: none;
}
.rotate {
  animation: rotate 10s linear;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate:hover {
  animation-play-state: paused;
}
